* {
    margin: 0;
}

.play-area {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid black;
    padding: 20px;
    width: 150px;
    height: 150px;
}

img {
    width: 150px;
    height: 150px;
}